<header class="header-6">
  <div class="branding">
      <a href="..." class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">My Portfolio</span>
      </a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a href="..." clrDropdownItem>About</a>
              <a href="..." clrDropdownItem>Preferences</a>
              <a href="..." clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-12">
      <a href="..." class="card clickable">
          <div class="card-img">
              <img src="../assets/developer.jpeg" alt="monkey coder" />
          </div>
          <div class="card-block">
              <p class="card-text">
                  Code Monkey
              </p>
          </div>
      </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
      <a href="..." class="card clickable">
          <div class="card-block">
              <p class="card-text">
                  Scrum Guru
              </p>
          </div>
          <div class="card-img">
              <img src="../assets/images.jpeg" alt="Scrum guru" />
          </div>
      </a>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
      <a href="..." class="card clickable">
          <div class="card-block">
              <p class="card-text">
                  Certified Cloud Practinioner & Developer 
              </p>
          </div>
          <div class="card-img">
              <img src="../assets//cloud.jpeg" alt="cloud Guru" />
          </div>
          <div class="card-block">
              <p class="card-text">
                  ...
              </p>
          </div>
      </a>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-6 clr-col-12">
      <a href="..." class="card clickable card-img">
          <img src="..." alt="..." />
      </a>
  </div>
  <div class="clr-col-lg-6 clr-col-12">
      <a href="..." class="card clickable">
          <div class="card-img">
              <img src="..." alt="..." />
          </div>
      </a>
  </div>
</div>